# our app
APP_NAME=Unified API System
ENVIRONMENT=development
DEBUG=true
API_HOST=0.0.0.0
API_PORT=8000
API_V1_PREFIX=/api/v1
API_V2_PREFIX=/api/v2

# topic modeling system 
INTERNSHIP_DB_DRIVER=ODBC Driver 17 for SQL Server
INTERNSHIP_DB_SERVER=localhost\SQLEXPRESS
INTERNSHIP_DB_NAME=InternshipPlatformUpdated
INTERNSHIP_DB_TRUSTED_CONNECTION=yes
GEMINI_API_KEY=''
INTERNSHIP_CHROMA_DB_PATH=./data/chroma_internship
MIN_CLUSTERS=5
MAX_CLUSTERS=15
N_KEYWORDS=10

# ========== Recommendation Engine ==========
RECOMMENDATION_SQL_SERVER=(local)\SQLEXPRESS
RECOMMENDATION_SQL_DATABASE=InternshipPlatformUpdated
RECOMMENDATION_SQL_USE_WINDOWS_AUTH=true
VECTOR_STUDENTS_PATH=./data/chroma_students_sql
VECTOR_INTERNSHIPS_PATH=./data/chroma_internships_sql

# ========== Optional ==========
LOG_LEVEL=INFO
LOG_FILE=./logs/app.log
ALLOWED_ORIGINS=*
